<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Editar Tecnico')}"></head>
    <body>
        <div class="container">
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Tecnicos')}"></nav>
            <form method="post" th:action="@{'/save'}" th:object="${technician}">
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <input type="hidden" class="form-control" th:field="*{id}">
                    <h2>Editar Tecnico</h2>
                    <hr/>
                        <div class="mb-3">
                            <label class="form-label">First Name:</label>
                            <input th:field="*{firstname}" type="text" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Last Name:</label>
                            <input th:field="*{lastname}" type="text" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">DNI:</label>
                            <input th:field="*{dni}" type="number" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone:</label>
                            <input th:field="*{phone}" type="number" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Age:</label>
                            <input th:field="*{age}" type="number" class="form-control" />
                        </div>
                        <a th:href="@{'/listaTec'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Aceptar</button>

                </div>
            </div>
            </form>
        </div>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>